/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilos para el logotipo */
.logo {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
}

/* Estilos para la imagen */
.image-container {
    max-width: 1000px;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px; /* Añade un borde redondeado */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Añade sombra alrededor de la imagen */
}
/* Estilos para la imagen */
.image-container img {
    border-radius: 10px; /* Añade un borde redondeado a la imagen */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Añade sombra alrededor de la imagen */
    display: block; /* Asegura que la imagen sea un elemento en línea */
    max-width: 100%; /* Ajusta el ancho máximo de la imagen para que sea responsiva */
}

/* Estilos para la sección derecha (título y botones) */
.right-section {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
    width: 600px; /* tamaño recuadro */
    height: 400px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
}

.right-section:hover {
    transform: scale(1.008); 
}

/* Estilos para el área de marcadores */
.marker-area {
    width: 100%;
    position: relative;
}

/* Estilos para los marcadores */
.marker {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Estilos para el título */
.title {
    font-size: 25px; /* tamaño titulo */
    font-family: 'Open Sans', sans-serif; /* fuente */
    margin-bottom: 20px; /* ajunte margen inferior */
}

/* Estilos para los botones y selects */
.map-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-buttons button#addMarkerButton,
.map-buttons button#clearMarkers {
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 5px 0;
}

.map-buttons button#addMarkerButton:hover,
.map-buttons button#clearMarkers:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
}

/* Estilos para los desplegables de selección de color y filtro */
.map-buttons select {
    margin: 5px 0;
    border-radius: 20px; /* Borde redondeado */
    padding: 10px 20px; /* Ajusta el espaciado interno */
    cursor: pointer;
    text-align: center;
    background-color: #fff; /* Color de fondo */
    color: black; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    transition:  color 0.3s;
}

.map-buttons * > * {
    text-align: center;
}

.map-buttons select:hover {
    background-color: #f0f0f0; 
    color: #333; 
}

/* Estilos para el botón SaveChanges */
#SaveChanges {
    display: block;
    font-size: 15px;
    margin: 45px auto; /* Ajusta la separación superior y crea espacio en la parte inferior */
    padding: 12px 20px; /* Ajusta el espaciado interno del botón */
    background-color: #00b894; /* Color de fondo diferente, por ejemplo, azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 20px; /* Hace que el botón sea redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    transition: background-color 0.3s; /* Agrega una transición de color al botón */
}

#SaveChanges:hover {
    background-color: #fff; 
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.right-section-2 { /* recuadro de abajo*/
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px auto;
    width: 400px; 
    height: 200px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
}

.right-section-2:hover {
    transform: scale(1.01); 
}

.title2 { 
    font-weight:bold;
    font-size: 12px; /* tamaño titulo */
    font-family: 'Open Sans', sans-serif; /* fuente */
    margin-bottom: 1px; /* ajunte margen inferior */
    margin-left: 70px;
    
}

.text-asignation {
    margin-top: 25px;
    font-size: 9.5px;
    margin-left: 65px;
}

.color-description {
    display: flex;
    align-items: center;
}

.color-box {
    border-radius: 10px;
    width: 50px;
    height: 20px;
    background-color: #FF5733; /* Color de fondo para "Normales" (ajusta según necesites) */
    margin-right: 10px; /* Espacio entre el recuadro y el texto */
}

h1 {
    margin: 0;
}

.marker-popup {
    background-color: #fff;
    width: 100px;
    border-radius: 8px;
    border: 2px dashed #333;
    margin-top: -25px;
    margin-left: 20px;
}

.marker-popup-content {
    padding: 2px;
}

.marker-container:hover .marker-popup {
    display: block;
    font-size: 10px;
    margin-left: 10px;
}

/* Estilos para el botón de eliminar marcador */
.delete-marker {
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
    margin-left: 10px;
}

.delete-marker:hover {
    box-shadow: 0 0 5px 2px rgba(10, 10, 10, 0.6);
}

/* Estilos para el nombre del color del marcador */
.color-name {
    font-weight: bold;
    margin-left: 20px;
}

.marker-popup::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%; /* Cambié "right" a "left" para que la base de la flecha esté pegada al recuadro */
    border-width: 10px;
    border-style: dashed;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.8); 
    border: 2px solid #333;
    transform: translateY(-50%) rotate(180deg);
    
    
}

/* Estilo para el texto del panel emergente */
.marker-popup p {
    text-align: center;
    margin: 5px 0; /* Espacio superior e inferior para centrar */
}
