/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    width: 99%;
    border-radius: 8px; /* Añadir un redondeo ligero a la barra de navegación */
    position: fixed;
    z-index: 1000;
    margin: 9px 0 0 8px
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilos para el logotipo */
.logo {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.map-container {
    position: absolute;
    top: 65px;
    left: 5px;
    width: 79%;
    height: calc(100vh - 70px); /* El 50px es la altura de la barra de navegación */
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

/* Estilos personalizados para el select */
.marker-select {
    width: 100%;
    padding: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc; /* Añadir borde al select */
    border-radius: 5px;
    background-color: #f7f7f7; /* Cambiar color de fondo del select */
    font-size: 14px;
    /* Agregar otros estilos según tus preferencias */
}

/* Estilos personalizados para el botón */
.confirm-button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00CCB4; /* Cambiar color de fondo del botón */
    color: #fff; /* Cambiar color del texto del botón */
    font-size: 14px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    /* Agregar otros estilos según tus preferencias */
    translate: y(20%);
}

.confirm-button:hover {
    background-color: #007FFF; /* Cambiar color al pasar el mouse por encima */
}

.custom-popup-content {
    color: #333333;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.delete-marker-btn {

    border-radius: 15px;
    padding: 5px 20px;
    background-color: #00CCB4;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.delete-marker-btn:hover{
    background-color: #ff7676;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2); /* Efecto de sombra ligeramente mayor */
    transform: scale(1.02);
}
#map {
    width: 100%;
    height: 100%;
}

.cluster-div {
    background-color:black;
    height: 100rem;
    width: 100rem;
    border-radius: 50%;
    box-shadow: 0 0 0 4px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.right-section-2 { /* recuadro de abajo*/
    position: absolute;
    top: 55%;
    right:1%;
    transform: translateY(-50%);
    width: 18%;
    padding: 10px;
    background-color: #dddddd;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    display: flex; /* Agregado */
    flex-direction: column; /* Agregado */
    justify-content: center; /* Agregado */
    align-items: center; /* Agregado */
}

.title2 { 
    font-weight:bold;
    font-size: 12px; /* tamaño titulo */
    font-family: 'Open Sans', sans-serif; /* fuente */
    margin-bottom: 1px; /* ajunte margen inferior */
   
    
}

.text-asignation {
    margin-top: 25px;
    font-size: 10px;
    
    line-height: 1.15;
    
}

.color-description {
    display: flex;
    align-items: center;
   
}

.color-box {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 20px;
    margin-right: 10px; /* Espacio entre el recuadro y el texto */
}

h1 {
    margin: 0;
}


