<!DOCTYPE html>
<html>
<head>
    <title>USM ECO GUIDE</title>
</head>
<body>
    <h1>USM ECO GUIDE</h1>

    <!-- Opción "Mapas" que lleva a la lista de mapas con "pin" -->
    <a href="#" id="mapasLink">Mapas</a> 

    <!-- Opción "Más Información" -->
    <a href="{% url 'mas_informacion' %}">Más Información</a>

    <!-- Opción "Anular Pin" -->
    <a href="#" id="anularPinLink" style="display: none;">Anular Pin</a>

    <!-- Efecto "pin" y anular el pin -->
    <script>
        var mapasLink = document.getElementById("mapasLink");
        var anularPinLink = document.getElementById("anularPinLink");

        mapasLink.addEventListener("click", function(e) {
            e.preventDefault(); // Evitar que el enlace recargue la página

            // Obtener la URL del mapa "pinchado" desde el almacenamiento de sesión
            var mapaPinchado = sessionStorage.getItem("mapaPinchado");

            // Si hay una URL "pinchada," redirigir directamente a esa URL
            if (mapaPinchado) {
                window.location.href = mapaPinchado;
            } else {
                // Si no hay URL "pinchada," redirigir a la lista de mapas
                window.location.href = "{% url 'mapas' %}";
            }
        });

        anularPinLink.addEventListener("click", function() {
            // Al hacer clic en "Anular Pin," eliminar la URL "pinchada"
            sessionStorage.removeItem("mapaPinchado");
            // Ocultar el enlace "Anular Pin"
            anularPinLink.style.display = "none";
        });
    </script>
</body>
</html>
