{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'logo_verde.ico' %}" />
    <title>Mapa 4</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <a href="{% url 'index' %}">
            <img src="{% static 'logo_blanco.webp' %}" alt="Logo USM ECO GUIDE" class="logo">
            USM ECO GUIDE
        </a>
        <span>|</span>
        <a href="{% url 'mapas' %}">Mapas</a>
        <a href="#" id="anularPinLink">Anular Pin</a>
        <span>|</span>
        <a href="{% url 'mas_informacion' %}">            Más información</a>
    </nav>

    <!-- Contenedor principal -->
    <div class="container">
        <!-- Sección de la imagen -->
        <div class="image-container">
            <img src="{% static 'ark.webp' %}" alt="Mapa 1" width="1000" height="730">
        </div>

        <!-- Sección derecha (título y botones) -->
        <div class="right-section">
            <div class="title">
                <h1>Campus de aaaaaa</h1>
            </div>
            <div class="map-buttons">
                <button id="addMarkerButton">Añadir Marcador</button>
                <select id="markerColor">
                    <option value="red">Rojo</option>
                    <option value="blue">Azul</option>
                    <option value="green">Verde</option>
                </select>
                <select id="filterMarkers">
                    <option value="all">Ver Todos</option>
                    <option value="red">Rojo</option>
                    <option value="blue">Azul</option>
                    <option value="green">Verde</option>
                </select>
                <button id="clearMarkers">Limpiar Marcadores</button>
            </div>
        </div>
    </div>

    <script>
        var clearMarkersButton = document.getElementById("clearMarkers");
        var markerArea = document.querySelector(".image-container"); // Cambio en la selección del contenedor
        var markerColorSelect = document.getElementById("markerColor");
        var markers = [];
        var addingMarker = false;
    
        clearMarkersButton.addEventListener("click", function() {
            markers.forEach(function(marker) {
                markerArea.removeChild(marker);
            });
            markers = [];
        });
    
        var anularPinLink = document.getElementById("anularPinLink");
    
        anularPinLink.addEventListener("click", function() {
            sessionStorage.removeItem("mapaPinchado");
        });
    
        var addMarkerButton = document.getElementById("addMarkerButton");
    
        addMarkerButton.addEventListener("click", function() {
            addingMarker = !addingMarker;
            addMarkerButton.innerText = addingMarker ? "Cancelar" : "Añadir Marcador";
        });
    
        markerArea.addEventListener("click", function(event) {
            if (addingMarker) {
                var x = event.offsetX;
                var y = event.offsetY;
                var color = markerColorSelect.value;
    
                var marker = document.createElement("div");
                marker.className = "marker";
                marker.style.left = x + "px";
                marker.style.top = y + "px";
                marker.style.backgroundColor = color;
    
                markerArea.appendChild(marker);
    
                markers.push(marker);
                addingMarker = false;
                addMarkerButton.innerText = "Añadir Marcador";
            }
        });
    
        var filterMarkersSelect = document.getElementById("filterMarkers");
    
        filterMarkersSelect.addEventListener("change", function() {
            var selectedColor = filterMarkersSelect.value;
    
            markers.forEach(function(marker) {
                if (selectedColor === "all" || marker.style.backgroundColor === selectedColor) {
                    marker.style.display = "block";
                } else {
                    marker.style.display = "none";
                }
            });
        });
    </script>
    
</body>
</html>
